

<!--Division for GeeksForGeeks heading-->
<div class="container-fluid"> 
    <div class="row bg-success justify-content-center 
            align-items-center" style="height:80px"> 
        <div class="col-3"></div> 
        <div class="col-6 text-light h2"> 
            Simulation of a real app.

            
        </div> 
        <div class="col-6 text-light h2"> 
        
        simulate app is running!
    </div> 
        
        
    </div> 
  
</div> 

<router-outlet></router-outlet>

